@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Quem Somos";
}
<div class="row">
    <div class="row">
        <div class="col-md-12">
            <h3>Quem Somos</h3>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12 txt-index">
            <p>O reciclica é um projeto de webseite que tem como principal objetivo fornecer soluções adequadas e definitivas na destinação dos residuos reciclaveis apontando de forma pratica os principais pontos de coleta no sul do estado, promovendo um desenvolvimento sustentável e buscando parcerias com prefeituras, sindicatos e empresas</p>
        </div>
    </div>
</div>
