@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <img src="~/images/casasustentavel.jpg" class="img-responsive img-center imgIndex">
    </div>
    <div class="col-md-6 txt-index">
        <h1>Por que Reciclar?</h1>
        <p>No processo de reciclagem, que além de preservar o meio ambiente também gera riquezas, os materiais mais reciclados são o vidro, o alumínio, o papel e o plástico. Esta reciclagem contribui para a diminuição significativa da poluição do solo, da água e do ar. Muitas indústrias estão reciclando materiais como uma forma de reduzir os custos de produção.</p>
        <p>Outro benefício da reciclagem é a quantidade de empregos que ela tem gerado nas grandes cidades. Muitos desempregados estão buscando trabalho neste setor e conseguindo renda para manterem suas famílias. Cooperativas de catadores de papel e alumínio já são uma boa realidade nos centros urbanos do Brasil.</p>
    </div>
</div>
