@model Reciclica.Web.Materiais.Material
@{
    ViewData["Title"] = "Material";
}

<div class="row header">
    <div class="col-md-12">
        <h3>Material</h3>
        <a href="/Material" class="btn btn-primary">Back</a>
    </div>
</div>
<div class="row form-wrapper">
    <div class="col-md-12">
        <form asp-action="Create" asp-controller="Materiais" method="POST">
            <input type="hidden" asp-for="Id">
        <div class="form-group">
            <label for="Descricao">Descricao</label>
            <input type="text" class="form-control" asp-for="Descricao">
        </div>
        <div class="form-group">
            <label for="Observacao">Observacao</label>
            <input type="text" class="form-control" asp-for="Observacao">
        </div>
        <button type="submit" class="btn btn-default">Salvar</button>
        </form>
        <!-- <form id="form" class="form-horizontal" asp-action="Create" asp-controller="Materiais" method="Post">
            <input type="hidden" class="form-control" asp-for="Id" >
            <div class="form-group">
                <label class="col-md-2 control-label">Descrição</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" asp-for="Descricao">    
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <label class="col-md-2 control-label">Observação</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" asp-for="Observacao">    
                    <span asp-validation-for="Observacao" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button class="btn btn-success">Save</button>
                </div>
            </div>
        </form> -->
    </div>
</div>

@section Scripts {
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
}




